<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="gw.gtapi.util.LogFilters"/>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] - %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.intuit.karate" level="info"/>
    <logger name="com.intuit.karate.core.FeatureRuntime" level="warn"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>